.hamburger {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    z-index: 20;
    caret-color: transparent;
}

.burger {
    width: 2rem;
    height: .25rem;
    border-radius: 10px;
    background-color: #fff;
    transform-origin: 1px;
    transition: all .3s linear;
}

.burger1 {
    transform: rotate(45deg);
}

.burger2 {
    transform: translateX(100%);
    opacity: 0;
}

.burger3 {
    transform: rotate(-45deg);
}