.navHeader {
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-around;
    font-size: 36px;
    font-family: helvetica;
    text-align: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(74, 181, 149, 1) 0%, rgba(45, 116, 128, .75) 100%);
}

.Hamburger {
    display: none;
}

.innerNav {
    text-decoration: none;
    display: flex;
}

.site-title {
    display: flex;
    text-decoration: none;
    color: #ffffff;
    border: solid transparent;
    transition-duration: .1s;
    align-items: center;
}

.site-title:Hover {
    border-bottom: solid #ffffff;
}

.innerNav a {
    list-style: none;
    font-size: 28px;
}

.innerNav a {
    text-decoration: none;
    color: #ffffff;
    margin: 10px;
    justify-content: space-evenly;
    border: solid transparent;
    transition-duration: .1s;
}

.innerNav a:Hover {
    border-bottom: solid #ffffff;
}

.navbar a.active {
    
    color: #ffffff;
}

.Logo {
    width: 6em;
    height: 4em;
    caret-color: transparent;
    
}

@media (max-width: 1020px) {
    .site-title {
        font-size: 28px;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        padding: 5px;
    }

    .navbar a.active {
        border: none;
    }

    .innerNav {
        display: none;
    }

    .Hamburger {
        display: block;
        padding: 10px;
        z-index: 10;
    }

    .burger-open{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        height: 30vh;
        width: 100vw;
        margin-top: 10vh;
        right: 0%;
        top: 0;
        position: absolute;
        background: linear-gradient( rgba(74, 181, 149, 1) 0%, rgba(45, 116, 128, 1) 75%);
        opacity: 1;
        transition: all .3s ease-in-out;
    }

    .burger-close {
        display: flex;
        flex-flow: column nowrap;
        height: 0vh;
        width: 100vw;
        margin-top: 50px;
        right: 0%;
        top: 0;
        position: absolute;
        background: linear-gradient( rgba(74, 181, 149, 1) 0%, rgba(45, 116, 128, 1) 75%);
        opacity: 0;
        transition: all .3s ease-in-out;
        pointer-events: none;
    }


    .innerNav-mobile {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 28px;
        padding: 10px;
    }

    .innerNav-mobile a {
        text-decoration: none;
        color: #ffffff;
        margin: 10px;
        justify-content: space-evenly;
        border: solid transparent;
    }

    .Logo {
        width: 5em;
        height: 3em;
    }
}

@media (max-width: 400px) {
    .burger-open {
        margin-top: 5.5rem;
        height: 40vh;
    }

    .Logo {
        width: 7rem;
        height: 5rem;
    }

}