.navHeader {
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-around;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(74, 181, 149, 1) 0%, rgba(45, 116, 128, .75) 100%);
}

.Hamburger {
    display: none;
}

.innerNav {
    text-decoration: none;
    display: flex;
}

.site-title {
    text-decoration: none;
    color: #ffffff;
    font-size: 32px;
    border: solid transparent;
    transition-duration: .1s;
}

.site-title:Hover {
    border-bottom: solid #ffffff;
}

.innerNav a {
    list-style: none;
    font-size: 24px;
}

.innerNav a {
    text-decoration: none;
    color: #ffffff;
    margin: 10px;
    justify-content: space-evenly;
    border: solid transparent;
    transition-duration: .1s;
}

.innerNav a:Hover {
    border-bottom: solid #ffffff;
}

.navbar a.active {
    border-bottom: solid #ffffff;
    color: #ffffff;
}

@media (max-width: 1020px) {
    .site-title {
        font-size: 28px;
    }

    .navbar {
        display: flex;
    }

    .innerNav {
        display: none;
    }

    .Hamburger {
        display: block;
        padding: 10px;
        z-index: 10;
    }

    .burger-open{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        height: 30vh;
        width: 100vw;
        margin-top: 50px;
        right: 0%;
        top: 0;
        position: absolute;
        background: linear-gradient( rgba(74, 181, 149, 1) 0%, rgba(45, 116, 128, 1) 75%);
        
    }

    .innerNav-mobile {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 32px;
        padding: 10px;
    }

    .innerNav-mobile a {
        text-decoration: none;
        color: #ffffff;
        margin: 10px;
        justify-content: space-evenly;
        border: solid transparent;
        transition-duration: .1s;
    }
}