.navHeader {
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-around;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    align-items: center;
    background-color: #4AB595;
}

.Hamburger {
    display: none;
}

.innerNav {
    text-decoration: none;
    display: flex;
}

.site-title {
    text-decoration: none;
    color: #ffffff;
    font-size: 32px;
    border: solid transparent;
    transition-duration: .1s;
}

.site-title:Hover {
    border-bottom: solid #ffffff;
}

.innerNav a {
    list-style: none;
    font-size: 24px;
}

.innerNav a {
    text-decoration: none;
    color: #ffffff;
    margin: 10px;
    justify-content: space-evenly;
    border: solid transparent;
    transition-duration: .1s;
}

.innerNav a:Hover {
    border-bottom: solid #ffffff;
}

.navbar a.active {
    border-bottom: solid #ffffff;
    color: #ffffff;
}

@media (max-width: 1020px) {
    .site-title {
        margin: 0 20px;
    }

    .innerNav {
        display: none;
    }

    .navbar {
        height: 100px;
        justify-content: space-around;
    }

    .Hamburger {
        display: block;
        padding-top: 10px;
        margin-left: 20px;
        z-index: 10;
    }

    .burger-open {
        display: inline;
        background-color: #4AB595;
        height: 30vh;
        width: 100vw;
        left: 0%;
        position: absolute;
        transition: all .5s linear;
        transform: translateY(0px, 50px);
    }

    .burger-close {
        height: 0px;
    }

    .innerNav-mobile {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        font-size: 32px;
    }

    .innerNav-mobile a {
        text-decoration: none;
        color: #ffffff;
        margin: 10px;
        justify-content: space-evenly;
        border: solid transparent;
        transition-duration: .1s;
    }
}